.uploadContainer {
  margin-top: 2rem;
  text-align: center;
}

.uploadButton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  color: white;
  border: 0px solid #000000;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.fileInput {
  display: none;
}

.fileList {
  margin-top: 1rem;
  padding: 1rem;
  background-color: transparent;
  border-radius: 8px;
}

.fileName {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: white;
}

.submitButton {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.submitButton:hover:not(:disabled) {
  background-color: #333333;
}

.submitButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
