.QrScannerContainer {
  /* min-height: 300px; */
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QrCameraContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  padding-top: 1rem;
  margin: 0;
  margin-bottom: 1rem;
}

.videoWrapper {
  position: relative;
  width: 90%;
  max-width: min(80vh, 500px);
  z-index: 2;
  margin-top: 1rem;
}

.scannerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  overflow: hidden;
}

.scannerWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border: 1.5px solid white;
  border-radius: 16px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.videoContainer {
  width: 100%;
  border-radius: 16px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.scanButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  font-size: 14px;
  color: white;
}

.qrIcon {
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.cornerTL,
.cornerTR,
.cornerBL,
.cornerBR {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid white;
}

.cornerTL {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.cornerTR {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.cornerBL {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.cornerBR {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.qrDots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  background-image: radial-gradient(circle, white 2px, transparent 2px);
  background-size: 8px 8px;
}

.scanButton span {
  margin: 2px 0;
}

.scanningContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: min(80vh, 500px);
  margin-top: 10px;
}

.closeButton,
.switchCameraButton {
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.closeButton:hover,
.switchCameraButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
