.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: #4b436e;
  border: 1px solid #585663;
  border-radius: 12px;
  height: auto;
  width: auto;
  max-width: clamp(00px, 95vw, 382px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modalHeader {
  height: 2rem;
  background-color: #2a292f;
  border-bottom: #1e1741;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 14px;
}

.closeButton {
  position: relative;
  top: -0.1rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  height: 80vh;
  width: auto;
  /* margin: 0 auto; */
  box-sizing: border-box;
}

.navOverlay {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.2s;
}

.navOverlay:disabled {
  cursor: default;
  display: none;
}

.prevOverlay {
  left: 0;
}

.prevOverlay:not(:disabled):hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}

.nextOverlay {
  right: 0;
}

.nextOverlay:not(:disabled):hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
}

.tutorialImage {
  object-fit: cover;
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
  pointer-events: none;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

/* 기존 navigationButtons 스타일은 제거 */
.navigationButtons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navButton {
  padding: 0.5rem 2rem;
  background-color: #2a292f;
  color: white;
  border: 1px solid #585663;
  border-radius: 4px;
  cursor: pointer;
}

.navButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
