:root {
  --navbar-height: 5rem;
}

/* 기존 html, body 스타일을 수정합니다 */
html,
body {
  width: 100%; /*부모가 설정한 폭 100% 따르기*/
  height: 100%;
  margin: 0; /* 화면 중앙에 배치하기 위해 추가 */
  overflow-x: hidden;
}

body {
  /* 전체 배경을 검정색으로 변경합니다 */
  background: #000000;
  color: #fffaf8;
  font-family: "SUITE", sans-serif;
}
/* app-container*/
.app-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  width: 100%;
  /* max-width: clamp(344px, 100vw, 412px); */
  max-width: 412px;
  margin: 0 auto;

  min-height: 100vh;
  background: var(--night_sky, linear-gradient(180deg, #2a292f 0%, #21203e 5%, #231b4b 40.69%, #312a53 100%));
  padding-left: env(safe-area-inset-left); /* iOS 대응 */
  padding-right: env(safe-area-inset-right); /* iOS 대응 */
}

.main-content {
  flex: 1;
  min-height: calc(100% - 7rem);
  overflow-y: auto;
}

/* 폰트 설정 */
@font-face {
  font-family: "SUITE";
  src: url("/fonts/SUITE/SUITE-Variable.ttf") format("truetype");
  font-weight: 100 900; /* 100부터 900까지 범위 지원 */
  font-style: normal;
}

@font-face {
  font-family: "SEJONG";
  src: url("/fonts/SEJONG/SejongGeulggot.ttf") format("truetype");
  font-weight: 100 900; /* 100부터 900까지 범위 지원 */
  font-style: normal;
}

/* 캘린더 관련 css(여기에 적용하는게 안정적) */

.custom-calendar {
  background-color: #261b2d;
  color: #fffaf8;
  border-radius: 0;
  border: none;
}

.react-datepicker__day--sunday {
  color: #ff6b6b;
}
