/* src/components/error-modal.module.css */

.modalOverlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #4b436e;
  border: 1px solid #585663;
  border-radius: 12px;
  width: 40vh;
  max-width: 400px;
}

.modalHeader {
  height: 2rem;
  background-color: #2a292f;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modalBody {
  padding: 2rem 1rem;
  text-align: center;
}

.modalBody p {
  margin: 0;
  white-space: pre-line;
  line-height: 1.4;
}

.modalFooter {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.confirmButton {
  padding: 0.5rem 2rem;
  background-color: #2a292f;
  color: #fff;
  border: 1px solid #585663;
  border-radius: 4px;
  cursor: pointer;
}

.cancelButton {
  padding: 0.5rem 2rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #585663;
  border-radius: 4px;
  cursor: pointer;
}
