.feed-grid-wrapper {
  max-width: 372px; /* 최대 크기 제한 */
  width: calc(100% - 40px);
  margin: 60px auto 150px; /* 상 / 좌우 / 하 */
  box-sizing: border-box;
}

.feed-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*한 줄에 2개 이미지*/
  gap: 16px;
}

.feed-item {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* 정사각형 영역 */
  overflow: hidden; /* 넘치는 부분 자르기 */
  background-color: #000; /* 이미지 로딩 전 대비용 */
  border: solid 5px #fffaf8;
  box-sizing: border-box;
}

.feed-item img {
  width: 100%;
  height: 100%;
  display: block; /*빈 여백 생기는 것 방지*/
  object-fit: cover; /* 긴 쪽 기준으로 꽉 채우기 + 잘라내기 */
}
