.floatingButton {
  position: fixed;
  bottom: 100px; /* 하단 네비게이션바를 고려한 위치 조정 */
  left: 50%;
  transform: translateX(60px);
  padding: 10px 10px;
  border-radius: 300px; /* 모서리가 둥근 캡슐 모양 */
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1000;
  display: flex; /* 가운데 정렬을 위해 */
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  font-family: SUITE;
}

/* 기본 모드 (Create) */
.floatingButtonDefault {
  background-color: #6366f1;
  /* background-color: #fffaf8; */
  color: #fffaf8;
  /* color: #3c3c3c; */
}

/* 선택 모드 (Cancel) */
.floatingButtonSelect {
  background-color: #3c3c3c;
  color: #fffaf8;
}

/* 텍스트 모드 */
.floatingButtonText {
  background-color: #6366f1;
  color: #fffaf8;
  padding: 0.75rem 1.2rem;
  font-size: 18px;
  font-weight: bold;
  border-radius: 999px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* 화면 가로폭이 360px 이상이면 */
@media (min-width: 350px) {
  .floatingButton {
    transform: translateX(80px);
  }
}

/* 화면 가로폭이 412px 이상이면 */
@media (min-width: 412px) {
  .floatingButton {
    transform: translateX(96px);
  }
}
