.floatingButton {
  position: absolute;
  bottom: 20px; /* 5rem(navbar 높이) + 약간 여유 */
  right: clamp(1rem, 3vw, 1.5rem);
  padding: 10px 30px 10px;
  border-radius: 10%;
  background-color: #fffaf8;
  color: #3c3c3c;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1000;
}

.floatingButton:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
