/* feed-detail.module.css */

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.topBar button {
  background-color: transparent !important; /* ✅ 확실하게 투명화 */
  border: none;
  padding: 0;
}

.iconButtons {
  display: flex;
  gap: 0.5rem;
}

.iconButtons button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.iconButtons Image {
  width: 24px;
  height: 24px;
}

.thumbnailWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 120px;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.arrowButton Image {
  width: 24px;
  height: 24px;
}

.thumbnailList {
  display: flex;
  /* overflow-x: auto; */
  padding: 3px;
  gap: 1px;
  align-items: center;
  justify-content: center;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

.thumbnailList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.thumbnailItem {
  height: 70px;
  aspect-ratio: 3 / 4; /* 세로 비율 설정 (기본 3:4 네컷 기준) */
  position: relative;
  margin-right: 0.5rem;

  flex-shrink: 0;
}

.thumbnailItem Image,
.thumbnailItem video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnailSelected {
  border-color: var(--primary);
}

.thumbnailContent {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 짧은 변에 맞게, 넘치는 부분 자르기 */
  object-position: center; /* 중앙 정렬 */
  display: block;
}
/* 
.mainMedia {
  width: 96%;
  min-height: 300px;
  text-align: center;
  margin: 0 auto;
  touch-action: pan-y;
  position: relative;
}

.mainMediaContent {
  width: 100%;
  height: auto;
  object-fit: contain;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

video.mainMediaContent {
  aspect-ratio: videoAspectRatio;
  width: 100%;
  height: auto;
  background-color: "#000";
} */
