/* components/album/album-list.module.css */

.albumListWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px; /* 앨범끼리 간격 */
  margin: 60px 0px 150px 0px; /*상우하좌*/
}

.albumItem {
  display: flex;
  align-items: center;
  justify-content: center; /* 기본은 가운데 정렬 */
  gap: 2rem;
}

.albumContent {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  gap: 40px;
}

.leftImage {
  flex-direction: row; /* 기본: 이미지 왼쪽, 텍스트 오른쪽 */
  margin-left: 30px;
}

.rightImage {
  flex-direction: row-reverse; /* 반대: 이미지 오른쪽, 텍스트 왼쪽 */
  margin-right: 30px;
}

.constellationImage {
  width: 120px;
  height: 120px;
  object-fit: contain;
  flex-shrink: 0;
}

/* 반응형 추가 */
@media (max-width: 412px) {
  .constellationImage {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 300px) {
  .constellationImage {
    width: 75px;
    height: 75px;
  }
}

.albumInfo {
  display: flex;
  flex-direction: column;
  flex: 1; /* 남은 영역 차지 */
}

.alignLeft {
  align-items: flex-start; /* 왼쪽 정렬 */
  text-align: left;
}

.alignRight {
  align-items: flex-end; /* 오른쪽 정렬 */
  text-align: right;
}

.albumName {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "SEJONG";
}

.separator {
  height: 1px;
  background-color: #fffaf862;
  margin: 0.5rem 0;
  align-self: stretch;
}

.albumDate {
  font-size: 1rem;
  color: #fffaf8c5;
  font-family: "SEJONG";
}

.loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px; /* 필요에 따라 크기 조절 */
  text-align: center;
}

.error-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px; /* 필요에 따라 크기 조절 */
  text-align: center;
}

.modalOverlay {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 412px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  z-index: 11110;
  padding: 0;
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
}

.modalContent {
  background: var(--night_sky, linear-gradient(180deg, #21203e 2.85%, #231b4b 40.69%, #312a53 100%));
  overflow: auto;
  border-radius: 8px;
  padding: 1.5rem 1rem;
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  position: relative;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.modalContent::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.modalTitle {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #fffaf8;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: #fffaf8;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
