/* feed-detail.module.css */

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.iconButtons {
  display: flex;
  gap: 0.5rem;
}

.iconButtons button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.iconButtons Image {
  width: 24px;
  height: 24px;
}

.mainMedia {
  width: 96%;
  min-height: 300px;
  text-align: center;
  margin: 0 auto;
  touch-action: pan-y;
  position: relative;
}

.mainMediaContent {
  width: 100%;
  height: auto;
  object-fit: contain;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

video.mainMediaContent {
  /* width: 100%;
  height: auto;
  aspect-ratio: 3 / 4; 
  background: #000;
  display: block;
  margin: 0 auto; */
  aspect-ratio: videoAspectRatio;
  width: 100%;
  height: auto;
  background-color: "#000";
}

.thumbnailWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.arrowButton Image {
  width: 24px;
  height: 24px;
}

.thumbnailList {
  display: flex;
  /* overflow-x: auto; */
  padding: 3px;
  gap: 1px;
  align-items: center;
  justify-content: center;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

.thumbnailList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.thumbnailItem {
  width: 80px;
  height: 80px;
  position: relative;
  margin-right: 0.5rem;

  flex-shrink: 0;
}

.thumbnailItem Image,
.thumbnailItem video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.thumbnailSelected {
  border-color: var(--primary);
}
